.center-button {
  font-size: 1.1em;
  display: block;
  margin: 10px auto;
  background: #b5f3e6;
  border: none;
}

.my-button {
  font-size: 1.1em;
  margin: 10px 0 10px 0;
  background: #b5f3e6;
  border: none;
}

.icon-button {
  border-radius: 50%;
  border: none;
}

.icon-button:hover, .my-button:hover {
  background: #fff;
}

.center-button:hover, .my-button:hover {
  background: #95f3d4;
}

.center-buttons{
  text-align: center;
}

.pag-buttons{
  width: 25px;
  height: 25px;
}

.round-button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}