#calendar {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*luna*/
.fc-center h2 {
  font-weight: normal;
  font-family: "Open Sans", serif;
  color: #323E3E;
}

/*tabel*/
.ui-widget-content {
  background: #fff;
  color: #6f7374;
  font-weight: bold;
}

/*enveniment*/
.fc-event {
  background: #e8775b;
  border-color: #e973a9;
  color: #b5f3e6
}

/*zi curenta*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #eee;
  border-color: #ddd;
  font-weight: bold;
  /*color: #fff;*/
}

/*butoane top*/
.ui-state-default {
  background-color: #fff;
  color:#323E3E;
  font-weight: normal;
  border: 1px solid #10f9b7;
}
/*active button*/
.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
  background: #9ff0d1;
  color: #fff;
}
/*day grid*/
.fc-time-grid .fc-slats .ui-widget-content {
  background: #e8ffe6;
}

/*zile*/
.ui-widget-header {
  background: #9ff0d1;
  color: #3f4e4e;
  border-color: #85e29f;
  font-weight: normal;
  text-transform: uppercase;
}

.fc-next-button {
  background-image: url("../resources/img/next.png");
  background-size: 30px;
}

.fc-prev-button {
  background-image: url("../resources/img/prev.png");
  background-size: 30px;
}