.content {
  display: block;
  margin: 20px;
  padding: 20px 50px;
  background: #fff;
  //min-height: 530px;
}

.content-list{
  color: #323E3E;

}
.content a{
  color: #22866C;
  text-decoration: none;
}
.content-list a:hover{
  text-decoration: none;
  opacity: .4;
}

.unordered-list{
  color: #323E3E;
  list-style-type: none;

}

.content h3 {
  text-align: center;
  font-weight: normal;
  color: #323E3E;
  margin-bottom: 20px;
}

.content hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.page-title {
  text-align: center;
  font-size: 1.2em;
}

.meniu-modul ul {
  text-align: center;
  padding: 0 0 20px;
}

.meniu-modul ul li {
  display: inline-block;
}

.meniu-modul a {
  padding: .8em;
  color: #777;
  text-decoration: none;
}

.meniu-modul a:hover {
  color: #80e0c4;
}

.meniu-underline{
  padding: 2px;
  border-bottom: 2px solid #10f9b7;
}


.text {
  color: #323E3E;
  margin: 0 10px;
}

.course-name{
  font-size: 1.2em;
}

.list-element{
  margin: 20px 0;
}

.course-info{
  font-size: .9em;
  margin:0;
}
