.post-discutie {
  border: 1px solid turquoise;
  background: #eafff0;
  border-radius: 5px;
  display: block;
  margin: 0 0 20px;
  padding: 5px;
}

.info-discutie {
  margin: 10px 0 20px;
  font-size: 1.3em;
}

.info-post {
  background: #b5f3e6;
  padding: 0 5px;
}

.continut-mesaj {
  border-left: 2px solid #b5f3e6;;
}

.data-mesaj {
  font-size: .9em;
  text-align: right;
}

.nume-user {
  font-weight: bold;
}
.info-user-discutie{
  font-size: .9em;
}
.text-editor{
  width: 100px;
}

.discussion-textarea{
  margin:auto;
  width: 50%;
  resize: none;
}
.send-comment textarea {
  width: 90%;

}