html{
  font-size: 16px;
}

body {
  margin: 0;
  font: 105%/1.75 'Open Sans', serif;
  background: #b8ecc2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 99;
  background: #fff;
}

label{
  font-weight: normal;
}

a{
  cursor: pointer;
}

.no-padding{
  padding:0;
}

.modal-dialog{
  width: 400px;
}

textarea{
  resize: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.form-control{
  width: 300px;
}

.select{
  height: 100px;
  overflow: auto;
}
.form-control-inline{
   display: inline-block;
 }