.sidebar {
  background: #2d3036;
  width: 15%;
  height: 100%;
  display: inline-block;
  position: fixed;
  top: 70px;
  left: 0;
  overflow: auto;
}

.links {
  padding: 20px 0;
}

.links a {
  text-decoration: none;
  color: #b5f3e6;
  position: relative;
  display: block;
  height: 100%;
}

.links img {
  height: 35px;
  vertical-align: middle;
  padding-right: 7px;
}

.links li {
  padding: 10px 0 10px 20px;
  width: 100%;
}

.links li:hover {
  background: #363a40;
}

.links li:hover img {
  transform: scale(1.2);
}
