.top {
  position: relative;
  float: left;
  width: 85%;
  border-bottom: 1px solid #a7e2b3;
  height: 100%;
}

.top h2 {
  margin: 20px 0 0 40px;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  display: inline-block;
  color: #323E3E;
}

.top h2 span {
  font-size: .8em;
  color: #A0A0A0;
}

.top a {
  position: relative;
  text-decoration: none;
  color: #323E3E;
}

.top a:hover {
  color: #a1f4b3;
}

.top img {
  padding-right: 5px;
  height: 30px;
  opacity: .8;
}

.top > ul {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  height: 100%;
}

.top > ul > li {
  display: inline-block;
  padding: 0 20px 0 0;
  margin-top: 20px;
  height: 100%;
}

.top ul img {
  vertical-align: middle;
  margin-right: 5px;
}

.top ul ul {
  border: 1px solid #10f9b7;
  border-radius: 2px;
  background: #fff;
  display: none;
  position: absolute;
  z-index: 100;
  width: 120px;
  top: 100%;
  right: 20px;
  margin-top: 50px;
}

.top li:hover ul {
  top: 0;
  display: block;
}

.top ul ul a {
  padding: .2em .6em;
  display: block;
}

.top hr {
  margin: 0;
  width: 100%;
}

.top ul, .links {
  list-style: none;
  padding: 0;
  margin: 0;
}

