<div class="content">
    <h3>Adauga utilizator</h3>
    <form>
        <label>Username:
            <input type="text" class="form-control" ng-model="user.Username">
        </label>
        <br>
        <label>Nume:
            <input type="text" class="form-control" ng-model="user.Last_name">
        </label>
        <br>
        <label>Prenume:
            <input type="text" class="form-control" ng-model="user.First_name">
        </label>
        <br>
        <label>Email:
            <input type="text" class="form-control" ng-model="user.Email">
        </label>
        <br>
        <label>Parola:
            <input type="text" class="form-control" ng-model="user.Password">
        </label>
        <br>
        <label>Grupa:
            <input type="text" class="form-control" ng-model="user.group_id">
        </label>
        <br>
        <label>Numar matricol:
            <input type="text" class="form-control" ng-model="user.Registration_number">
        </label>
        <br>
        <label>Gen:
            <input type="text" class="form-control" placeholder="M/F" ng-model="user.Gender">
        </label>
        <br>
        <label>Student:
            <input type="checkbox" ng-model="user.Student" ng-true-value="true" ng-false-value="false">
        </label>
        <br>
        <button type="button" class="my-button btn btn-default" ng-click="addUser()">Adauga utilizator</button>
    </form>

</div>