<div class="content">
    <div id="calendar" load-calendar></div>

    <form>
        <label>Nume eveniment:
            <input type="text" class="form-control" id="event-name">
        </label>
        <br>
        <label for="event-datestart-input">Data inceput:
            <input type="datetime" class="form-control" id="event-start">
        </label>
        <br>

        <label for="event-datefinish-input">Data finala:
            <input type="datetime" class="form-control" id="event-end">
        </label>
        <br>
        <button type="button" id="add-event-button" class="my-button btn btn-default">Adauga eveniment
        </button>
    </form>
</div>