<div class="content">
    <h3>{{course.Name}}</h3>
    <div class="meniu-modul">
        <ul>
            <li><a href="" ng-click="courseModule()">Module</a></li>
            <li><a href="" ng-click="courseDiscussions()">Discutii</a></li>
            <li><a href="" ng-click="courseAnnouncements()">Anunturi</a></li>
            <li><a href="" class="meniu-underline" ng-show="professor" ng-click="courseStudents()">Studenti</a></li>
        </ul>
        <hr>
    </div>
    <p ng-show="!students[0]">Nu exista studenti inregistrati la acest curs</p>

    <ol class="content-list">
        <li ng-repeat="student in students">
            <a ng-click="seeUserProfile($index)">{{student.First_name}} {{student.Last_name}}</a>
        </li>
    </ol>
</div>
