<div class="content">
    <h3>{{course.Name}}</h3>
    <div class="meniu-modul">
        <ul>
            <li><a href="" class="meniu-underline">Module</a></li>
            <li><a href="" ng-click="courseDiscussions()">Discutii</a></li>
            <li><a href="" ng-click="courseAnnouncements()">Anunturi</a></li>
            <li><a href="" ng-show="professor" ng-click="courseStudents()">Studenti</a></li>
        </ul>
        <hr>
    </div>

    <p ng-hide="modules[0]">Nu exista module pentru acest curs</p>
    <ol class="content-list">
        <li ng-repeat="module in modules">
            <a href="" ng-click="selectedModule($index)">{{module.Name}}</a>
            <p>{{module.Description}}</p>
        </li>
    </ol>
    <a>
        <button type="button"  ng-show="professor" ng-click="addModuleButton()" class="center-button btn btn-default">Adauga modul</button>
    </a>
</div>
