<div class="content">
    <h3>{{course.Name}}</h3>

    <div class="meniu-modul">
        <ul>
            <li><a ng-click="courseModule()">Module</a></li>
            <li><a ng-click="courseDiscussions()">Discutii</a></li>
            <li><a class="meniu-underline">Anunturi</a></li>
            <li><a href="" ng-show="professor" ng-click="courseStudents()">Studenti</a></li>
        </ul>
    </div>

    <div ng-hide="announcements[0]">
        <hr>
        <p>Nu exista anunturi pentru acest curs</p>
    </div>
    <ul class="unordered-list">
        <li ng-repeat="announcement in announcements">
            <hr>
            <a>{{announcement.Title}}</a>

            <p>{{announcement.Message}}</p>

        </li>
    </ul>
    <a ng-show="professor">
        <button ng-hide="user.group_id" type="button" class="center-button btn btn-default" data-toggle="modal"
                data-target="#addAnnouncementModal" data-dismiss="modal">Adauga anunt
        </button>
    </a>

    <div id="addAnnouncementModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga anunt</h4>
                </div>
                <div class="modal-body">
                    <p>Titlu: </p>
                    <input type="text" ng-model="announcement.Title">

                    <p>Mesaj:</p>
                    <textarea ng-model="announcement.Message"></textarea>
                    <br>

                    <a ng-click="addAnnouncement()">
                        <button class="center-button btn btn-default" data-dismiss="modal">Adauga anunt</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>