<div class="content">
    <div class="page-title">
        <h3>Notele</h3>
    </div>
    <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Modul</th>
                <th>Tema/Test/Discutie</th>
                <th>Nota</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="grade in grades">
                <td>{{grade.Module}}</td>
                <td>{{grade.Name}}</td>
                <td>{{grade.Value}}</td>
            </tr>

            </tbody>
        </table>

</div>