<div class="content">
    <div class="page-title">
        <h3>{{discussion.Subject}}</h3>
        <h4>{{discussion.Course}}</h4>
    </div>
    <ol class="container-fluid">
        <li ng-repeat="comment in comments | startFrom:currentPage*pageSize | limitTo:pageSize" class="post-discutie">
            <div class="info-post">
                <div class="row">
                    <div class="nume-user col-md-2">{{comment.user_name}}</div>
                    <div class="data-mesaj col-md-10"><span ng-bind="comment.Date | date:'dd/MM/yyyy HH:mm'"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="info-user-discutie col-md-2">
                    <div ng-show="comment.group_name" class="grupa-user">Grupa {{comment.group_name}}</div>
                    <div ng-hide="comment.group_name">Profesor</div>

                </div>
                <p class="continut-mesaj col-md-10">
                    {{comment.Message}}
                </p>
            </div>
        </li>

        </li>
    </ol>


    <div class="row send-comment">
        <div class="col-md-6 col-md-offset-3 no-padding">
                    <textarea class="form-control discussion-textarea" ng-enter="addComment()"
                              ng-model="comment.Message"></textarea>
        </div>
        <div class="col-md-1 no-padding">
            <button ng-hide="professor" class="btn btn-default my-button round-button" ng-click="addComment()">Post
            </button>
        </div>
    </div>

    <div class="center-buttons" ng-show="professor">
        <button class="btn btn-default my-button" ng-click="addComment()">Posteaza mesaj</button>
        <button type="button" class="my-button btn btn-default" data-toggle="modal"
                data-target="#addGradeModal" data-dismiss="modal">Noteaza discutia
        </button>
        <button class="btn btn-default my-button" ng-click="deleteDiscussion()">Sterge discutia
        </button>
    </div>

    <ul class="pager">
        <li class="previous">
            <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <img class="pag-buttons" src="resources/img/prev.png">
            </button>
        </li>
        <li>
            {{currentPage+1}}/{{numberOfPages()}}
        </li>
        <li class="next">
            <button class="btn btn-default" ng-disabled="currentPage >= comments.length/pageSize - 1"
                    ng-click="currentPage=currentPage+1">
                <img class="pag-buttons" src="resources/img/next.png">
            </button>
        </li>
    </ul>

    <div id="addGradeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga anunt</h4>
                </div>
                <div class="modal-body">
                    <label for="new-conv-user">Student</label>
                    <select id="new-conv-user" class="form-control" ng-model="user">
                        <option ng-repeat="user in users" value="{{user.Id}}">{{user.Username}}</option>
                    </select>
                    <label for="new-conv-name">Nota:</label>
                    <input id="new-conv-name" class="form-control" type="text" ng-model="grade.Value">

                    <button class="btn btn-default center-button" ng-click="addGrade()" data-dismiss="modal">Noteaza
                        discutia
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>