<div class="content">
    <div class="page-title">
        <h3>Editeaza tema</h3>
    </div>

    <label>Nume:
        <input class="form-control" type="text" ng-model="homework.Name">
    </label>
    <br>
    <label>Cerinta:
        <textarea class="form-control" type="text" ng-model="homework.Description"></textarea>
    </label>
    <br>
    <label>Pondere:
        <input class="form-control" type="text" placeholder="ex. 0.5" ng-model="homework.Pondere">
    </label>
    <br>
    <label>De predat pana la:
        <input class="form-control" type="datetime" placeholder="an-luna-zi ora:minute" ng-model="homework.End_date">
    </label>
    <br>
    <button class="btn btn-default my-button" ng-click="editHomework()">Modifica tema</button>
</div>