<div class="login-background">
    <div class="login-wrapper">
        <img class="login-img" src="resources/img/owl.png">

        <div class="login-input">
            <p>Username</p>
            <input type="text" ng-model="username">
            <hr>

        </div>
        <div class="login-button ">
            <a href="" ng-click="login()">Reset password</a>
        </div>
    </div>
</div>
