<div class="content">
    <h3>Forum</h3>

    <div class="meniu-modul">
        <ul>
            <li><a class="meniu-underline">Discutii</a></li>
            <li><a ng-href="#videoconf">Videoconferinta</a></li>
        </ul>
        <hr>
    </div>

    <button type="button" class="center-button btn btn-default" data-toggle="modal"
            data-target="#addDiscussionModal">Adauga discutie
    </button>

    <ul class="content-list unordered-list">
        <li ng-repeat="discussion in group_discussions">
            <a ng-click="selectedDiscussion($index)">{{discussion.Subject}}</a>
            <p>{{discussion.Description}}</p>
        </li>
    </ul>

    <div id="addDiscussionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga discutiet</h4>
                </div>
                <div class="modal-body">
                    <p>Subiect: </p>
                    <input type="text" ng-model="discussion.Subject">

                    <p>Descriere:</p>
                    <input type="text" ng-model="discussion.Description">
                    <br>
                    <button class="btn btn-default my-button" ng-click="addDiscussion()" data-dismiss="modal">Adauga discutie</button>
                </div>
            </div>

        </div>
    </div>
</div>