<div class="content">
    <h3>{{courseName}}</h3>
    <div class="meniu-modul">
        <ul>
            <li><a ng-click="courseFinalPage()">Medii</a></li>
            <li><a class="meniu-underline">Note</a></li>
        </ul>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tip</th>
            <th>Denumire</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="element in elements">
            <td><a>{{element.Type}}</a></td>
            <td><a ng-click="courseElementPage($index)">{{element.Name}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
