<div class="content">
    <h3>{{courseName}}</h3>
    <div class="meniu-modul">
        <ul>
            <li><a ng-click="courseFinalPage()">Medii</a></li>
            <li><a class="meniu-underline" ng-click="courseGradesPage()">Note</a></li>
        </ul>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Modul</th>
            <th>Tip</th>
            <th>Nume</th>
            <th>Nota</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="grade in grades">
            <td>{{grade.Module}}</td>
            <td>{{grade.Type}}</td>
            <td>{{grade.Name}}</td>
            <td>{{grade.Value}}</td>
        </tr>

        </tbody>
    </table>
</div>
