<div class="content">
    <h3>{{courseName}}</h3>
    <div class="meniu-modul">
        <ul>
            <li><a class="meniu-underline">Medii</a></li>
            <li><a ng-click="courseGradesPage()">Note</a></li>
        </ul>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nume</th>
            <th>Nota</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="grade in grades">
            <td><a ng-click="userGradesPage($index)">{{grade.Username}}</a></td>
            <td>{{grade.Value}}</td>
        </tr>

        </tbody>
    </table>

    <button class="btn btn-default my-button" ng-click="getFinalGrades()">Calculeaza mediile finale</button>
</div>
