<div class="content">
    <div class="page-title">
        <h3>{{module.Name}}</h3>
    </div>
    <div class="meniu-modul">
        <ul>
            <li><a class="meniu-underline">Curs</a></li>
            <li><a ng-click="moduleHomework()">Tema</a></li>
            <li><a ng-click="moduleTests()">Test</a></li>

        </ul>
        <hr>
    </div>

    <div class="text">
        <div ng-bind-html="module.Content"></div>
    </div>

    <a>
        <button ng-show="professor" ng-click="openEdit()" class="center-button btn btn-default">Editeaza pagina</button>
    </a>
</div>