<div class="content">
    <div class="page-title">
        <h3>{{module.Name}}</h3>
    </div>
    <div class="meniu-modul">
        <ul>
            <li><a ng-click="moduleCourse()">Curs</a></li>
            <li><a class="meniu-underline">Tema</a></li>
            <li><a ng-click="moduleTests()">Test</a></li>
        </ul>
        <hr>
    </div>

    <p ng-show="!homeworks[0]">Nu exista teme pentru acest modul</p>
    <div class="text">
        <ul ng-repeat="homework in homeworks" class="unordered-list">
            <li ng-repeat="test in tests">
                <a ng-click="solveHomework($index)">{{homework.Name}}</a>
                <br>
                <p>Cerinta: {{homework.Description}}</p>
            </li>

        </ul>
    </div>

    <a>
        <button type="button" ng-show="professor" ng-click="addHomework()" class="center-button btn btn-default">Adauga tema</button>
    </a>

</div>