<div class="content">
    <div class="page-title">
        <h3>{{module.Name}}</h3>
    </div>
    <div class="meniu-modul">
        <ul>
            <li><a ng-click="moduleCourse()">Curs</a></li>
            <li><a ng-click="moduleHomework()">Tema</a></li>
            <li><a class="meniu-underline">Test</a></li>
        </ul>
        <hr>
    </div>
    <p ng-show="!tests[0]">Nu exista teste pentru acest modul</p>
    <div class="text">
        <ul class="unordered-list">
            <li ng-repeat="test in tests">
                <a ng-click="startTest($index)">{{test.Name}}</a>
                <br>
                <p>{{test.Description}}</p>
            </li>

        </ul>
    </div>

    <a>
        <button type="button"  ng-show="professor" ng-click="addTest()" class="center-button btn btn-default">Adauga test</button>
    </a>

</div>