<div class="content">
    <h3>Notificari</h3>

    <p ng-show="!notifications[0]">Nu aveti notificari noi</p>
    <ol>
        <li ng-repeat="notification in notifications">
            <a ng-click="markAsSeen($index)">{{notification.Message}}</a>
        </li>
    </ol>

</div>