<div class="content">
    <div class="page-title">
        <h3>{{page.Title}}</h3>
    </div>
    <div class="meniu-modul">
        <ul>
            <li><a class="meniu-underline">by {{page.Username}} {{page.User.Last_name}}</a></li>
        </ul>
        <hr>
    </div>

    <div class="text">
        <div ng-bind-html="page.Text"></div>

    </div>

    <a>
        <button ng-show="editPermission()" ng-click="openEdit()" class="center-button btn btn-default">Editeaza pagina</button>
    </a>
</div>