<div class="content">
    <h3>Cursuri</h3>
    <ul class="unordered-list">
        <li ng-repeat="course in new_courses">
            <input type="checkbox" ng-model="course.SELECTED" ng-true-value="Y" ng-false-value="N">
            <a class="course-name">{{course.Name}}</a>
            <div class="row">
                <div class="col-md-3">
                    <p class="course-info">Prof. {{course.Profesor}}</p>
                    <p class="course-info">Departamentul {{course.Department}}</p>
                    <span class="course-info" ng-bind="course.Start_date | date:'dd/MM/yyyy'"></span> -
                    <span class="course-info" ng-bind="course.End_date | date:'dd/MM/yyyy'"></span>
                </div>
                <div class="col-md-9">
                    <p>{{course.Description}}</p>
                </div>
            </div>
        </li>
    </ul>

    <a>
        <button class="center-button btn btn-default" ng-click="register(new_courses)">Inscrie-te</button>
    </a>
</div>