<div class="content">
    <div class="page-title">
        <h3>Testele mele</h3>
    </div>

    <ol class="content-list">
        <li ng-repeat="test in tests">
            <a ng-click="selectedTest($index)">{{test.Name}}</a>
            <p>{{test.Description}}</p>
        </li>
    </ol>
</div>