<div class="content">
    <div class="search-users">
        <label>Cauta:

            <input class="form-control form-control-inline" type="text" ng-keyup="setProperty('inputText', $event).bind(this)" ng-enter="search()">
            <button class="btn btn-default" ng-click="search()">OK</button>
            <button class="btn btn-default" ng-click="restore()">Reload users</button>

        </label>
    </div>
    <table class="users-table table table-striped">
        <thead>
        <tr>
            <th ng-click="sortColumn('Username')">Username</th>
            <th ng-click="sortColumn('Last_name')">Nume</th>
            <th ng-click="sortColumn('First_name')">Prenume</th>
            <th ng-click="sortColumn('Email')">Email</th>
            <th ng-click="sortColumn('Student')">Rol</th>
            <th ng-click="sortColumn('Registration_number')">Nr matricol</th>
            <th ng-click="sortColumn('group_id')">Grupa</th>
            <th ng-click="sortColumn('Suspended')">Suspendat</th>
            <th ng-click="sortColumn('Blocked')">Blocat</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.Username}}</td>
            <td>{{user.Last_name}}</td>
            <td>{{user.First_name}}</td>
            <td>{{user.Email}}</td>
            <td><span ng-show="user.Student">Student</span><span ng-show="!user.Student">Profesor</span></td>
            <td>{{user.Registration_number}}</td>
            <td>{{user.group_name}}</td>
            <td><input type="checkbox" ng-change="changeSuspend($index)" ng-model="user.Suspended"></td>
            <td><input type="checkbox" ng-change="changeBlock($index)" ng-model="user.Blocked"></td>
       </tr>

        </tbody>
    </table>
    <a ng-href='#add-user'>
        <button class="center-button btn btn-default">Adauga utilizator</button>
    </a>

</div>