<div class="content">
    <h3>Forum</h3>

    <div class="meniu-modul">
        <ul>
            <li><a ng-href="#forum">Discutii</a></li>
            <li><a class="meniu-underline">Videoconferinta</a></li>
        </ul>
        <hr>
    </div>

    <div id="webcam" style="width: 400px; height: 225px; margin-left: 320px;">
        Introduceti aici numele unei noi conferinte sau numele conferintei la care vreti sa va alaturati:
        <input type="text" class="form-control" style="margin-left: 50px;"/>
        <button type="button" class="center-button btn btn-default" style="width: 300px;">Join/Create Room</button>
    </div>
</div>
