/**
 * Trumbowyg v2.0.0-beta.5 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

$attachement-black: 0px -25px;
$barre-black: 0px -300px;
$bold-black: 0px -50px;
$center-align-black: 0px -75px;
$close-black: 0px -100px;
$formatting-black: 0px -125px;
$fullscreen-exit-black: 0px -150px;
$fullscreen-black: 0px -175px;
$gras-black: 0px -200px;
$horizontal-rule-black: 0px -225px;
$image-black: 0px -250px;
$italic-black: 0px -275px;
$justify-align-black: 0px 0px;
$left-align-black: 0px -325px;
$link-black: 0px -350px;
$ordered-list-black: 0px -375px;
$removeformat-black: 0px -400px;
$right-align-black: 0px -425px;
$souligne-black: 0px -450px;
$strikethrough-black: 0px -475px;
$underline-black: 0px -500px;
$unordered-list-black: 0px -525px;
$video-black: 0px -550px;
$view-html-black: 0px -575px;


$sprite-height-black: 600px;
$sprite-width-black: 25px;
$icons-black: "img/icons-black.png";