/**
 * Trumbowyg v2.0.0-beta.5 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

$attachement-white: 0px -25px;
$barre-white: 0px -300px;
$bold-white: 0px -50px;
$center-align-white: 0px -75px;
$close-white: 0px -100px;
$formatting-white: 0px -125px;
$fullscreen-exit-white: 0px -150px;
$fullscreen-white: 0px -175px;
$gras-white: 0px -200px;
$horizontal-rule-white: 0px -225px;
$image-white: 0px -250px;
$italic-white: 0px -275px;
$justify-align-white: 0px 0px;
$left-align-white: 0px -325px;
$link-white: 0px -350px;
$ordered-list-white: 0px -375px;
$removeformat-white: 0px -400px;
$right-align-white: 0px -425px;
$souligne-white: 0px -450px;
$strikethrough-white: 0px -475px;
$underline-white: 0px -500px;
$unordered-list-white: 0px -525px;
$video-white: 0px -550px;
$view-html-white: 0px -575px;


$sprite-height-white: 600px;
$sprite-width-white: 25px;
$icons-white: "img/icons-white.png";